%section.popup
  .resource-container.col-xs-10.col-xs-offset-1
    .event-page
      .map
        %ui-gmap-google-map{"center" => " print.center ", "zoom" => "print.zoom"}
          %ui-gmap-marker{"idKey" => "print.marker.id", "coords" => "print.marker.coords", "options" => "print.options"}
        %h3
          {{print.title}}
      .text-container{"id" => "bind-html-with-trust"}
        %br
        %table
          %tr
            %td.table-label
              {{ "EVENTS.date" | translate }}:
            %td.date
              {{ print.date }}
          %tr
            %td.table-label
              {{ "EVENTS.time" | translate }}:
            %td.date
              {{ print.time | date: "HH:mm": "+0000" }}
          %tr
            %td.table-label
              {{ "EVENTS.address" | translate }}:
            %td
              {{ print.address }}
          %tr
            %td.table-label
              {{ "EVENTS.place" | translate }}:
            %td
              {{ print.place }}
          %tr
            %td.table-label
              {{ "EVENTS.additional_info" | translate }}:
            %td{"ng-bind-html" => "print.description"}

%a.fadeout{"ng-href" => "#/events"}
  .close-btn