%section.popup
  .resource-container
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        {{ "EVENTS.title" | translate }}
    .col-xs-8.col-xs-offset-2.events-container
      %h3
        {{ "EVENTS.upcomming" | translate }}
      .event-item{"ng-repeat" => "event in events.events | upComming"}
        %a.text-container{"ng-href" => "#/events/{{ event.id }}"}
          {{ event.title}}
          %span.pull-right.date
            %span.day
              {{ event.date | date: "d" }}
            %span.month
              {{ event.date | date: "MMMM" }}

    .col-xs-8.col-xs-offset-2.events-container
      %h3
        {{ "EVENTS.passed" | translate }}
      .event-item.passed-event{"ng-repeat" => "event in events.events | passed"}
        %a.text-container{"ng-href" => "#/events/{{ event.id }}"}
          {{ event.title}}
          %span.pull-right.date
            %span.day
              {{ event.date | date: "d" }}
            %span.month
              {{ event.date | date: "MMMM" }}

    .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn