.changes-field
  %p
    beta version/testing. Last changes 2015-07-20 14:40
  / %div{"class" => "fb-like", "data-share" => "true", "data-width" => "450", "data-show-faces" => "true"}
.utility-fields
  .fb-field
    %a{"ng-click" => "showFb = !showFb"}
      fb
    #fb-root

    %div{"ng-show" => "showFb", "ng-mouseLeave" => "showFb = !showFb", "class"=>"fb-page", "data-href"=>"https://www.facebook.com/pages/Rotary-Club-Lviv-Centre/1427543187512091?ref=hl", "data-small-header" => "false", "data-adapt-container-width"=>"true", "data-hide-cover" => "false", "data-show-facepile" => "true", "data-show-posts" => "true"}

  .language-field
    %btn{"ng-click" => "changeLanguage('uk')"}
      укр
    %btn{"ng-click" => "changeLanguage('en')"}
      eng
  .login-field
    %div{"ng-if" => "user_logged_in"}
      %span
        {{ "buttons.greeting" | translate }}, {{ user.email}}
      %a{"ng-click" => "logout()"}
        {{ "buttons.logout" | translate }}

    %div{"ng-if" => "!user_logged_in", "class" => "login-container"}
      %a{"ng-click" => "showLogin = !showLogin"}
        {{ "buttons.login" | translate }}

      %form.login-form{"ng-show" => "showLogin", "ng-submit" => "login(email, password)"}
        %p
          {{ "buttons.email" | translate }}:
        %input.form-control{"type" => "text", "ng-model" => "email", "placeHolder" => "Your email", "name" => "email"}
        %p
          {{ "buttons.password" | translate }}:
        %input.form-control{"type" => "text", "ng-model" => "password", "type"=> "password", "placeHolder" => "Your password", "name" => "password"}

        %input{:type => "submit", "class" => "pull-right", "value" => "Login"}
        .clear
    .clear

%div.logo
  %img{src: "/images/rotary-logo.png", href: '/'}
  %h3.tagline
    Rotary Club Lviv-Center
  %div.clear
%section.container
  %div.content#scene
    %div.left
      %a.item#news{"ng-href" => "#/news_items"}
        %span
          rotary
        %p
          news
      %a.item#projects{"ng-href" => "#/projects"}
        %p
          projects
        %span
          &general info
      %div.item#photos
    %div.right
      %div.items
        %a.item#about{"ng-href" => "#/about"}
          %p
            about rotary
        %a.item#members{"ng-href" => "#/users"}
          %p
            rotary members
      %a.item#events{"ng-href" => "#/events"}
        %p.header
          events
        %div.events
          %p
            upcomming event:
          %div.event-body
            %p.title
              Meeting Danish guests and some more
            %p.place
              Cytadel Inn Some str 5
      %a.item#contacts{"ng-href" => "#/contact"}
        %img{src: "/images/icons/envelope.png"}



