.login-field
  %div{"ng-if" => "user_logged_in"}
    %p
      hello {{ user.email}}
    %a{"ng-click" => "logout()"}
      logout
    %a{:href => "/admin"}
      admin page
  %div{"ng-if" => "!user_logged_in"}
    %a{:href => "/users/sign_in"}
      login
%div.logo
  %img{src: "/images/rotary-logo.png", href: '/'}
  %h3.tagline
    Rotary Club Lviv-Center
  %div.clear
%section.container
  %div.content#scene
    %div.left
      %a.item#news{"ng-href" => "#/news_items"}
        %span
          rotary
        %p
          news
      %a.item#projects{"ng-href" => "#/projects"}
        %p
          projects
        %span
          &general info
      %div.item#photos
    %div.right
      %div.items
        %a.item#about{"ng-href" => "#/about"}
          %p
            about rotary
        %a.item#members{"ng-href" => "#/users"}
          %p
            rotary members
      %div.item#events
        %p.header
          events
        %div.events
          %p
            upcomming event:
          %div.event-body
            %p.title
              Meeting Danish guests and some more
            %p.place
              Cytadel Inn Some str 5
      %a.item#contacts{"ng-href" => "#/contact"}
        %img{src: "/images/icons/envelope.png"}

