%section.popup
  .resource-container
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        Members
    .members-container
      %h3
        President
      .member-item.center{"ng-repeat" => "member in members.members | filter: {role: 'president'} "}
        .image
          %img(src="{{member.image}}")
        %p.name
          {{member.name}}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            .to-page
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %p
                  {{member.phone}}
                %p
                  {{member.email}}
                %p
                  {{member.address}}

        .clear
      .clear
    .members-container
      %h3
        Committies
      .member-items.center
        .member-item{"ng-repeat" => "member in members.members | filter: {role: 'committies'} ", "ng-click" => "showDetails = ! showDetails"}
          .image
            %img(src="{{member.image}}")
          %p.name
            {{member.name}}
          %div{ "ng-if" => "user_logged_in"}
            .btn-container
              .to-page
              .to-popup{"ng-click" => "showDetails = ! showDetails"}
                .hide-container{"ng-show" => "showDetails"}
                  %p
                    {{member.phone}}
                  %p
                    {{member.email}}
                  %p
                    {{member.address}}
          .clear
        .clear
    .members-container
      %h3
        Regular
      .member-item{"ng-repeat" => "member in members.members | filter: {role: 'regular'} ", "ng-click" => "showDetails = ! showDetails"}
        .image
          %img(src="{{member.image}}")
        %p.name
          {{member.name}}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            .to-page
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %p
                  {{member.phone}}
                %p
                  {{member.email}}
                %p
                  {{member.address}}
        .clear
      .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn