%section.popup
  .resource-container
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        {{ "NEWS" | translate }}
    .spinner-container{"ng-show" => "loading"}
      %img{src: "/images/spinner.gif"}
    .news-item-container{"ng-repeat" => "newsItem in news.news"}
      .news-item
        %span.date
          %span.month
            {{ newsItem.publish_date | date: "MMM" }}
          %br/
          %span.day
            {{ newsItem.publish_date | date: "d" }}
        .image
          %img(src="{{newsItem.image}}")
        %a.text-container{"ng-href" => "#/news_items/{{ newsItem.id }}"}
          %h1
            {{ newsItem.title | limitTo: 38 }}
          .utilities
            %span.category{"ng-show" => "newsItem.category"}
              {{ newsItem.category.title }}
          %p
            {{ newsItem.intro }}
    .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn