%section.popup
  .news-items-container
    .header
      %h1
        Проекти
    .project-item{"ng-repeat" => "project in projects.projects"}
      %div{"ng-switch" => "project.status"}
        .col-xs-4{"ng-switch-when" => "new"}
          %p
            {{project.title}}
        .col-xs-4{"ng-switch-when" => "running"}
          %p
            {{project.title}}
        .col-xs-4{"ng-switch-when" => "completed"}
          %p
            {{project.title}}
    .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn