%section.popup
  .resource-container
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        {{ "MEMBERS.title" | translate }}
    .users-container
      %h3
        {{ "MEMBERS.president" | translate }}
      .user-item.col-xs-4.col-xs-offset-4{"ng-repeat" => "user in users.users | filter: {role: 'president'} "}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"}  
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}

        .clear
      .clear
    .users-container
      %h3
        {{ "MEMBERS.Ñommitties" | translate }}
      .user-item.col-xs-4.col-xs-offset-1{"ng-repeat" => "user in users.users | filter: {role: 'committies'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"} 
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}
        .clear
      .clear
    .users-container
      %h3
        {{ "MEMBERS.regular" | translate }}
      .user-item{"ng-repeat" => "user in users.users | filter: {role: 'regular'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"} 
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}
        .clear
      .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn