%section.popup
  .resource-container
    .user-page
      .logo
        %img{src: "/images/rotary-logo.png"}
      .user-page-header
        .user-image-container
          %img(src="{{print.image}}")
        %h2
          {{print.name}}
        %h4
          {{print.role}}
        %h4
          {{print.email}}
        %h4
          {{print.date_of_birth}}
        %h4
          {{print.phone}}
      .clear
      .user-page-body
        %h4
          {{print.address}}
        %h4
          {{print.nationality}}
        %h4
          {{print.languages}}
        %p{"ng-bind-html" => "print.full_data"}
          / {{print.}}


%a.fadeout{"ng-href" => "#/users"}
  .close-btn