%section.popup
  .resource-container
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        Members
    .users-container
      %h3
        President
      .user-item.center{"ng-repeat" => "user in users.users | filter: {role: 'president'} "}
        .image
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}

        .clear
      .clear
    .users-container
      %h3
        Committies
      .user-items.center
        .user-item{"ng-repeat" => "user in users.users | filter: {role: 'committies'} ", "ng-click" => "showDetails = ! showDetails"}
          .image{"ng-href" => "#/users/{{ user.id }}"}
            %img(src="{{user.image}}")
          %p.name
            {{user.name}}
          %div{ "ng-if" => "user_logged_in"}
            .btn-container
              %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
              .to-popup{"ng-click" => "showDetails = ! showDetails"}
                .hide-container{"ng-show" => "showDetails"}
                  %p
                    {{user.phone}}
                  %p
                    {{user.email}}
                  %p
                    {{user.address}}
          .clear
        .clear
    .users-container
      %h3
        Regular
      .user-item{"ng-repeat" => "user in users.users | filter: {role: 'regular'} ", "ng-click" => "showDetails = ! showDetails"}
        .image
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}
        .clear
      .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn