.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      About Page
%section.popup{"ng-inig" => "init()"}
  .lviv-intro
  %div.logo
    %h3.tagline
      Lviv International
      %img{src: "/images/rotary-logo.png", href: '#/'}
      Rotary Club
  .resource-container.col-sm-8.col-sm-offset-2
    .our-rotary-container
      %br/
      %h2
        Introduction
      %hr/
      %p
        %b
          It is a great pleasure for Us to present You to Our club!
      %p
        We are the leading 
        %b
          Rotary Club in Western Ukraine
        based on 
        %b International experience and leadership.
        We have strong local relations both in business and social activities. As a Rotarian, you are becoming a part of our Rotarian family and being a member of one of the strongest worldwide team with goals to 
        %b
          make a better world.
      %p
        %b
          Rotary international
        was founded in Chicago in 1905 by Paul Harris. Rotary is a network of more than 1.2 milion Rotarians worldwide in more than 34.000 clubs.
      %p
        In Ukraine, there are more than 40 clubs spread over all Ukraine. Lviv has 7 Rotary Clubs; RC Lviv that was the first club in Ukraine founded in 1935, RC Lviv-Leopolis founded in 1998, RC Lviv-Center is our mother club founded in 2001, RC Ratusha founded in 2003, RC Lviv-Zamok founded in 2010, RC Kniazhyi founded in 2012,
        %b
          RC Lviv International founded in 2016.
      %p
        %b
          Rotaract
        is a preparing club for young generation before entering a Rotary Club.

      %quotes.col-xs-9.col-xs-offset-2
        .text.pull-left
          %h3
            I learned to Give not because I have many, but because I know exactly How it feels to have Nothing
        .img-container.pull-right.hide-sm
          %img{:src => "/images/rotary-logo.png", :alt => ""}/
      .clear
      %p
        Lviv International Rotary Club is a club created from 
        %b
          strong business and intellectual knowledge people. 
        We have as well as local levelled members, as International levelled members on the high positions in society. The Charter members are wide selections of business people touching all classifications of professions in Lviv that widens our knowledge as a Club. Club demand is inviting members to join only with high professional skills and with English knowledge on speaking and understanding level.
      %p
        To become a member of Rotary, you need to be recommended by another Rotarian to a club. If a member of Lviv International Rotary Club recommends you to our club, you will be invited to our club meeting to make a presentation of yourself. In this case we already know that you speak English and are from the top level of our society which can add value to Rotary International.

      %quotes.col-xs-9.col-xs-offset-2
        .text.pull-left
          %h3
            Rotarians are much more favorably disposed toward action than they are toward words
          %span.credentials
            Paul Harris
          %span.position
            Rotary Club of Chicago<br/>
            November 1912
        .img-container.pull-right
          %img{:src => "/paul_harris.jpg", :alt => ""}/
      .clearfix
      %p
        %b
          What is Rotary? 
        Rotary is a worldwide organization that brings together business and private people who want to make a change to save the world, to build business and friendship relations in its country and across borders, meeting leaders from worldwide societies with success in life and Rotary.
      %p
        %b
          Our spirit in Rotary
        is international relations with worldwide Rotary clubs to strengthen our club and business relations to support member’s interests as well as supporting sustainable projects in Ukraine, especially on the local region level.
      %p
        Any direct cooperation from Rotary Club to Rotary Club worldwide, with interests in both countries supporting projects with mutual interest. 
      %h4
        Rotary is bigger than you think!
      %p
        Yours in Rotary,
      %p
        %b
          Lviv International Rotary Club.
      %br/
  .clearfix
  .hide-sm
    %h1
      Lviv International RC Members
    %hr/
    .all-members
  .clearfix
  %hr/
  .resource-container.col-sm-8.col-sm-offset-2
    .our-rotary-container
      %br/
      %h2
        Board Members
      %p
        %b
          Our Club Board of Directors consists of 5-7 people with mixed nationalities. 

        President, Secretary, Treasurer and  Committee Chairmen; (Members Development, Project Service, Public Relation and Rotary Foundation).
        -# Please see the present Board %a{:href => ""}here.
      %a{:href => "/#users", class: "user-button"}
        members list
      %h2
        Committee members.
      %p
        Normally committees are created by interests and volunteers members with special interest and function to perform duties of such responsibility. Please see Committees and responsible person
        -# %a{:href => ""}here
        for you to get in contact with the responsible person.
      / %a{:href => "/#contact", class: "user-button"}
      /   contact page
      %h2
        Meeting and location
      %br/
      %p.meeting-time
        Meetings every
        %b
          Thursdays
        from 19:00 till 20:30
      %br/
      .map
        %ui-gmap-google-map{"center" => " print.center ", "zoom" => "print.zoom", "options" => "print.options"}
          %ui-gmap-marker{"idKey" => "print.marker.id", "coords" => "print.marker.coords"}

      %p.meeting-place
        %a{:href => "http://www.leopolishotel.com/contact/location/", "target" => "_blank"}
          Leopolis Hotel,
        Teatralna Street
        %b
          16,
        Old Town of Lviv, Ukraine.
      %h2
        Dress code
      %p
        %b
          The period from September 1st – June 15
        normal meetings are presented with minimum Business Casual,
        %a{:href => "https://www.pinterest.com/insperityjobs/business-casual-womens/"}
          Woman style
        %a{:href => "https://www.pinterest.com/explore/business-casual-men/"}
          Man style
        or fully
        %b
          Business style
        %br/
      %p
        Always with Rotary badges!
      %p
        Our vacation time from June 15 – July 31 is free dress code, but with minimum
        %b
          Rotary badge.
      %p
        Dress codes on
        %b
          outdoor activities
        will be announced in the invitation.

      %hr/
      %br/
      .logos
        %img{src: "/images/rotary-logo.png", href: '#/'}
      %br/

%a.fadeout{"ng-href" => "#/"}
  .close-btn
