.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      About Page
%section.popup{"ng-inig" => "init()"}
  .lviv-intro
  %h1
    Rotary Club Lviv-Center
  .resource-container.col-sm-8.col-sm-offset-2
    .our-rotary-container
      %br/
      %h2
        introduction
      %hr/
      %p
        %b
          Rotary Club Lviv-Center was formed in 2001 by (NAMES)
        with the aim to support local development as well as the poor and ill people of the society.
      %p
        We are supporting
        %b
          environmental projects
        for healthier living conditions for people, Orphans developing education possibilities and studies abroad, the crises situation for children who lost family members in the hard time in Ukraine.
      %quotes.col-xs-9.col-xs-offset-2
        .text.pull-left
          %h3
            I learned to Give not because I have many, but because I know exactly How it feels to have Nothing
        .img-container.pull-right
          %img{:src => "/images/rotary-logo.png", :alt => ""}/
        .clear
      %p
        Our Club has
        %b
          become more and more International
        during the last years with foreigners becoming member’s from different countries which has made our Club for another level. We have now cooperation with other Rotary Clubs all over the world which is straighten the relations in Rotary society supporting each other’s projects.
      %quotes.col-xs-9.col-xs-offset-2
        .text.pull-left
          %h3
            Rotarians are much more favorably disposed toward action than they are toward words
          %span.credentials
            Paul Harris
          %span.position
            Rotary Club of Chicago<br/>
            November 1912
        .img-container.pull-right
          %img{:src => "/paul_harris.jpg", :alt => ""}/
      .clearfix
      %p
        If you or your club is interested to know more about Rotary Club Lviv-Center, feel free to contact the Board individual or direct to our Club mail address for deeper knowledge.
      %br/
  .clearfix
  %h1
    Lviv-Center Members
  %hr/
  .all-members
  .clearfix
  %hr/
  .resource-container.col-sm-8.col-sm-offset-2
    .our-rotary-container
      %br/
      %h2
        Board Members
      %p
        %b
          Our Club Board of Directors consists of 7 people.
        Every year we have new President elected who always takes a place on the Board and past president normally becomes a supporter in the Board work for new President. All other Board members can accept re-election every year.
        -# Please see the present Board %a{:href => ""}here.
      %a{:href => "/#users", class: "user-button"}
        members list
      %h2
        Committee members.
      %p
        Normally committees are created by interests and volunteers members with special interest and function to perform duties of such responsibility. Please see Committees and responsible person
        -# %a{:href => ""}here
        for you to get in contact with the responsible person.
      %a{:href => "/#contact", class: "user-button"}
        contact page
      %h2
        Meeting and location
      %br/
      %p.meeting-time
        Meetings every
        %b
          Tuesdays
        from 19:00 till 20:30
      %br/
      .map
        %ui-gmap-google-map{"center" => " print.center ", "zoom" => "print.zoom", "options" => "print.options"}
          %ui-gmap-marker{"idKey" => "print.marker.id", "coords" => "print.marker.coords"}

      %p.meeting-place
        %a{:href => "http://www.leopolishotel.com/contact/location/", "target" => "_blank"}
          Leopolis Hotel,
        Teatralna Street
        %b
          16,
        Old Town of Lviv, Ukraine.
      %h2
        Dress code
      %p
        %b
          The period from September 1st – June 15
        normal meetings are presented with minimum Business Casual,
        %a{:href => "https://www.pinterest.com/insperityjobs/business-casual-womens/"}
          Woman style
        %a{:href => "https://www.pinterest.com/explore/business-casual-men/"}
          Man style
        or fully
        %b
          Business style
        %br/
      %p
        Always with Rotary badges!!
      %p
        Our vacation time from June 15 – July 31 is free dress code, but with minimum
        %b
          Rotary badge.
      %p
        Dress codes on
        %b
          outdoor activities
        will be announced in the invitation.

      %hr/
      %br/

%a.fadeout{"ng-href" => "#/"}
  .close-btn