.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      Contact Page
%section.popup
  .resource-container.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          {{ "ROTARY.rotary" | translate }}
          %img{src: "/images/rotary-logo.png"}
          {{ "CONTACTS.contact_page" | translate }}

    .contact-container
      %h2
        Board members
      %hr/
      .contact-item
        .pull-left
          %img{:src => "/images/person4.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Oresta Remeshylo-Rybchynska
            %p.email
              %a{"href"=>"mailto:rclvcentre-president2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-president2015@gmail.com
        .pull-right
          %p.position
            President
          %p.languages
            Ukr, Eng, Pol, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/person3.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Volodymyr Somesurname
            %p.email
              %a{"href"=>"mailto:rclvcentre-secretary2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-secretary2015@gmail.com
        .pull-right
          %p.position
            Secretary
          %p.languages
            Ukr, Eng, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/person2.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Serhiy Somesurname
            %p.email
              %a{"href"=>"mailto:rclvcentre-treasury2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-treasury2015@gmail.com
        .pull-right
          %p.position
            Treasury
          %p.languages
            Ukr, Eng, Rus
        .clearfix

    .contact-container
      %h2
        Board and Committee members:
      %hr/

      .contact-item
        .pull-left
          %img{:src => "/images/person1.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Yaroslav Halytskyy
            %p.email
              %a{"href"=>"mailto:rclvcentre-pr2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-pr2015@gmail.com
        .pull-right
          %p.position
            Public Relation
          %p.languages
            Ukr, Eng, Pol, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/person5.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Dmytro Krepak
            %p.email
              %a{"href"=>"mailto:rclvcentre-ri2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-ri2015@gmail.com
        .pull-right
          %p.position
            Rotary International
          %p.languages
            Ukr, Eng, Fre, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/person1.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Peter Mejer-Rasmussen
            %p.email
              %a{"href"=>"mailto:rclvcentre-ip2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-ip2015@gmail.com
        .pull-right
          %p.position
            International Projects
          %p.languages
            Ita, Eng, Ger, Dk
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/person3.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Lars Vestbjerg
            %p.email
              %a{"href"=>"mailto:rclvcentre-md2015@gmail.com?Subject=Dear%20Rotarian", "target" => "_blank"}
                rclvcentre-md2015@gmail.com
        .pull-right
          %p.position
            Members Development
          %p.languages
            Ukr, Eng, Dk, Pol
        .clearfix

%a.fadeout{"ng-href" => "#/"}
  .close-btn