.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      Contact Page
%section.popup
  .resource-container.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          {{ "ROTARY.rotary" | translate }}
          %img{src: "/images/rotary-logo.png"}
          {{ "CONTACTS.contact_page" | translate }}

    .contact-container
      %h2
        Board members
      %table.table
        %thead
          %tr
            %th
              position
            %th
              name
            %th
              email
            %th
              language
        %tbody
          %tr
            %td
              President 2015
            %td
              Oresta Remeshylo-Rybchynska
            %td
              President2015@RC-Lviv-Center.ua
            %td
              ua, eng, pl, ru
          %tr
            %td
              Secretary 2015
            %td
              Volodymyr S...
            %td
              Secretary2015@RC-Lviv-Center.ua
            %td
              ua, eng, ru
          %tr
            %td
              Treasury  2015
            %td
              Serhiy S...
            %td
              Treasury2015@RC-Lviv-Center.ua 
            %td
              ua, eng, ru
      %h2
        Board and Committee members:
      %table.table
        %thead
          %tr
            %th
              position
            %th
              name
            %th
              email
            %th
              language
        %tbody
          %tr
            %td
              Public Relation
            %td
              Yaroslav Halytskyy
            %td
              PR2015@RC-Lviv-Center.ua
            %td
              ua, eng, pl, ru
          %tr
            %td
              Rotary International
            %td
              Dmytro Krepak
            %td
              RI2015@RC-Lviv-Center.ua
            %td
              ua, eng, fr, ru
          %tr
            %td
              International Projects
            %td
              Peter Mejer-Rasmussen
            %td
              IP2015@RC-Lviv-Center.ua
            %td
              lt, eng, ger, dk
          %tr
            %td
              Members Development
            %td
              Lars Vestbjerg
            %td
              MD2015@RC-Lviv-Center.ua
            %td
              ua, eng, pl, ru




%a.fadeout{"ng-href" => "#/"}
  .close-btn