.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      Contact Page
%section.popup.container
  .resource-container.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          Rotary
          %img{src: "/images/rotary-logo.png"}
          Contacts

    .contact-container
      %h2
        Board members 2016
      %hr/
      .contact-item
        .pull-left
          %img{:src => "/images/members/lars.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Lars Vestbjerg
            %p.position
              President
        .pull-right
          %p.email
            %a
              president@rc-lvivint.com
          %p.languages
            En, Dk, De, Ua
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/peter.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Peter Meyer-Rasmussen
            %p.position
              Secretary
        .pull-right
          %p.email
            %a
              secretary@rc-lvivint.com
          %p.languages
            En, Dk, De, Lt
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/ivantsiv.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Taras Ivantsiv
            %p.position
              Treasury
        .pull-right
          %p.email
            %a
              treasury@rc-lvivint.com
          %p.languages
            Ua, En, Ru, Pl
        .clearfix

    .contact-container
      %h2
        Board and Committee members:
      %hr/

      .contact-item
        .pull-left
          %img{:src => "/images/members/yarko.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Yaroslav Halytskyy
            %p.position
              Public Relations
        .pull-right
          %p.email
            %a
              pr@rc-lvivint.com
          %p.languages
            Ua, En, Pl, Ru
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/krepak.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Dmytro Krepak
            %p.position
              Rotary International
        .pull-right
          %p.email
            %a
              ri@rc-lvivint.com
          %p.languages
            Ua, En, Fr, Ru
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/peter.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Peter Mejer-Rasmussen
            %p.position
              International Projects
        .pull-right
          %p.email
            %a
              ip@rc-lvivint.com
          %p.languages
            En, Dk, De, Lt
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/lars.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Lars Vestbjerg
            %p.position
              Members Development
        .pull-right
          %p.email
            %a
              md@rc-lvivint.com
          %p.languages
            En, Dk, De, Ua
        .clearfix

%a.fadeout{"ng-href" => "#/"}
  .close-btn
