.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      Contact Page
%section.popup
  .resource-container.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          {{ "ROTARY.rotary" | translate }}
          %img{src: "/images/rotary-logo.png"}
          {{ "CONTACTS.contact_page" | translate }}

    .contact-container
      %h2
        Board members
      %hr/
      .contact-item
        .pull-left
          %img{:src => "/images/members/oresta.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Oresta Remeshylo-Rybchynska
            %p.position
              President
        .pull-right
          %p.email
            %a{"href"=>"mailto:president@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              president@rclvcentre.com
          %p.languages
            Ukr, Eng, Pol, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/starch.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Volodymyr Starchevskyy
            %p.position
              Secretary
        .pull-right
          %p.email
            %a{"href"=>"mailto:secretary@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              secretary@rclvcentre.com
          %p.languages
            Ukr, Eng, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/thumb/missing.png", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              John Doe
            %p.position
              Treasury
        .pull-right
          %p.email
            %a{"href"=>"mailto:treasury@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              treasury@rclvcentre.com
          %p.languages
            Ukr, Eng, Rus
        .clearfix

    .contact-container
      %h2
        Board and Committee members:
      %hr/

      .contact-item
        .pull-left
          %img{:src => "/images/members/yaroslav.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Yaroslav Halytskyy
            %p.position
              Public Relation
        .pull-right
          %p.email
            %a{"href"=>"mailto:pr@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              pr@rclvcentre.com
          %p.languages
            Ukr, Eng, Pol, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/krepak.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Dmytro Krepak
            %p.position
              Rotary International
        .pull-right
          %p.email
            %a{"href"=>"mailto:ri@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              ri@rclvcentre.com
          %p.languages
            Ukr, Eng, Fre, Rus
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/peter.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Peter Mejer-Rasmussen
            %p.position
              International Projects
        .pull-right
          %p.email
            %a{"href"=>"mailto:ip@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              ip@rclvcentre.com
          %p.languages
            Ita, Eng, Ger, Dk
        .clearfix

      .contact-item
        .pull-left
          %img{:src => "/images/members/lars.jpg", :alt => "", class: "img-circle"}/
          .contact-text
            %p.name
              Lars Vestbjerg
            %p.position
              Members Development
        .pull-right
          %p.email
            %a{"href"=>"mailto:md@rclvcentre.com?Subject=Dear%20Rotarian", "target" => "_blank"}
              md@rclvcentre.com
          %p.languages
            Ukr, Eng, Dk, Pol
        .clearfix

%a.fadeout{"ng-href" => "#/"}
  .close-btn