.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      Contact Page
%section.popup
  .resource-container
    %h1
      Contact Page


%a.fadeout{"ng-href" => "#/"}
  .close-btn