.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/events"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "EVENTS.title" | translate }}

%section.popup
  .resource-container.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          {{ "ROTARY.rotary" | translate }}
          %img{src: "/images/rotary-logo.png"}
          {{ "EVENTS.title" | translate }}

    .col-sm-8.col-sm-offset-2.event-page
      .map
        %ui-gmap-google-map{"center" => " print.center ", "zoom" => "print.zoom", "options" => "print.options"}
          %ui-gmap-marker{"idKey" => "print.marker.id", "coords" => "print.marker.coords"}
        %h3
          {{print.title}}
          %br/
          {{print.title_ua}}
      .text-container{"id" => "bind-html-with-trust"}
        %br
        %table
          %tr
            %td.table-label
              %i.fa.fa-calendar.lightgrey
              {{ "EVENTS.date" | translate }}:
            %td.date
              {{ print.date }}
          %tr
            %td.table-label
              %i.fa.fa-clock-o.lightgrey
              {{ "EVENTS.time" | translate }}:
            %td.date
              {{ print.time | date: "HH:mm": "+0000" }}
          %tr
            %td.table-label
              %i.fa.fa-map-o.lightgrey
              {{ "EVENTS.address" | translate }}:
            %td
              {{ print.address }}
          %tr
            %td.table-label
              %i.fa.fa-map-signs.lightgrey
              {{ "EVENTS.place" | translate }}:
            %td
              {{ print.place }}
          %tr
            %td.table-label
              %i.fa.fa-info-circle.lightgrey
              {{ "EVENTS.additional_info" | translate }}:
            %td{"ng-bind-html" => "print.description"}

%a.fadeout{"ng-href" => "#/events"}
  .close-btn