%a.text-container{"ng-href" => "#/events/{{ event.id }}"}
  {{ event.title}}
  %span.pull-right.date
    %span.day
      {{ event.date | date: "d" }}
    %span.month
      {{ event.date | date: "MMMM" }}