/ %div{"ng-include" => "'deviceheader'"}
.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "EVENTS.title" | translate }}

%section.popup.container
  .resource-container.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          Rotary
          %img{src: "/images/rotary-logo.png"}
          Events

    .row
      .events-container
        .event-item.regular-meeting{"ng-repeat" => "event in events.events | regular"}
          .event-container{"ng-show"=>"event"}
            %h2
              {{ "EVENTS.regular" | translate }}
            .event-page.widget
              .map
                %ui-gmap-google-map{"center" => "{latitude: event.latitude, longitude: event.longitude }", "zoom" => "17", "options" => "options"}
                  %ui-gmap-marker{"idKey" => "0", "coords" => "{latitude: event.latitude, longitude: event.longitude }"}
                %h3
                  {{event.title}}
                  %br/
                  {{event.title_ua}}
              %a.text-container{"id" => "bind-html-with-trust", "ng-href" => "#/events/{{ event.id }}"}
                %p.widget-time.pull-left
                  %i.fa.fa-clock-o
                  {{ "EVENTS.time" | translate }}:
                  %strong.orange
                    {{ event.time | date: "HH:mm": "+0000" }}
                %p.widget-place.pull-right
                  %i.fa.fa-map-signs
                  -# {{ "EVENTS.place" | translate }}:
                  every
                  %strong.orange
                    -# {{ event.place }}
                    Thursday
                .clear

    .row
      .events-container
        %h3
          {{ "EVENTS.upcomming" | translate }}
        .event-item{"ng-repeat" => "event in events.events | upComming"}
          %a{"ng-href" => "#/events/{{ event.id }}", "class" => "text-container"}
            %p{"class" => "event-icon {{ event.event_type }} pull-left"}
            %p.pull-left.event-title-text
              {{ event.title}}
              %span.divider
              {{ event.title_ua}}
            %span.pull-right.date
              %span.day
                {{ event.date | date: "d" }}
              %span.month
                {{ event.date | date: "MMMM" }}
            .clear
          .event-item.ng-hide{"ng-hide" => "{{ event }}"}
            no events

%a.fadeout{"ng-href" => "#/"}
  .close-btn
