.changes-field
  %p
    beta version/testing. Last changes 2016-01-5 15:30
.utility-fields
  .login-field
    %div{"ng-if" => "user_logged_in"}
      %span
        {{ "buttons.greeting" | translate }}, {{ user.email}}
      %a{"ng-click" => "logout()"}
        {{ "buttons.logout" | translate }}

    %div{"ng-if" => "!user_logged_in", "class" => "login-container"}
      %a{"ng-click" => "showLogin = !showLogin"}
        {{ "buttons.login" | translate }}

      %form.login-form{"ng-show" => "showLogin", "ng-submit" => "login(email, password)"}
        %p
          {{ "buttons.email" | translate }}:
        %input.form-control{"type" => "text", "ng-model" => "email", "placeHolder" => "Your email", "name" => "email"}
        %p
          {{ "buttons.password" | translate }}:
        %input.form-control{"type" => "text", "ng-model" => "password", "type"=> "password", "placeHolder" => "Your password", "name" => "password"}

        %input{:type => "submit", "class" => "pull-right", "value" => "Login"}
        .clear
    .clear

%div.logo
  %h3.tagline
    {{ "mainpage.title1" | translate }}
    %img{src: "/images/rotary-logo.png", href: '#/'}
    {{ "mainpage.title2" | translate }}
  %div.clear


%section.container
  %div.col-md-8.col-md-offset-2#scene
    %div.left.col-md-6.col-xs-12
      %a.item.col-md-7.col-xs-12#news{"ng-href" => "https://www.facebook.com/RotaryClubLvivCentre", "target" => "_blank"}
        %span
          %span.facebook
            facebook
          {{ "mainpage.rotary" | translate }}
          -# %br/
        %p
          {{ "mainpage.news" | translate }}
      %a.item.col-md-11.col-xs-12#projects{"ng-href" => "#/projects"}
        %p
          {{ "mainpage.projects" | translate }}
        %span
          &{{ "mainpage.general_info" | translate }}
      %a.item#photos{:href => "https://www.facebook.com/RotaryClubLvivCentre/photos", target: "_blank"}
    %div.right.col-md-6.col-xs-12
      %div.items
        %a.item.col-sm-7.col-xs-6#about{"ng-href" => "#/about"}
          %p
            {{ "mainpage.about_rotary" | translate }}
        %a.col-sm-4.col-sm-offset-1.col-xs-6#members{"ng-href" => "#/users"}
          %p
            {{ "mainpage.rotary_members" | translate }}
      %a.item.col-sm-10.col-xs-12#events{"ng-href" => "#/events"}
        %p.header
          {{ "mainpage.events" | translate }}
        %div.events
          %p
            regular meeting:
          %div.event-body
            %p.title
              19-20:30, every Thursday
            %p.place
              Leopolis Hotel, Teatralna str 16
      %a.item.col-sm-7.col-xs-12#contacts{"ng-href" => "#/contact"}
        -# %img{src: "/images/icons/envelope.png"}
        %h2
          rotary contacts



