.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/news_items"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "NEWS.news" | translate }}
%section.popup
  .resource-container.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
    .news-item-page
      .image
        %img(src="{{print.image}}")
        %h3
          {{print.title}}

      .text-container{"id" => "bind-html-with-trust"}
        %p.date
          {{ print.publish_date | date: fullDate }}
        %br
        %p.intro-text
          {{ print.intro }}
        %hr
        / %p.intro-text
        / {{ print.category }}
        / %hr
        %p{"ng-bind-html" => "print.body"}
          / {{print.body}}
        %hr{"ng-hide" => "print.gallery"} 
          %br/
          
      .gallery{"ng-show" => "print.gallery"}
        %h2
          Gallery 
        %hr 
        .gallery-item{"ng-repeat" => "img in print.gallery"}
          %img{:src => "{{img.image}}", :alt => ""}/
          %p
            {{img.description}}
        .clear
        %hr 
        %br/

%a.fadeout{"ng-href" => "#/news_items"}
  .close-btn