.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  .title-container
    %a{"class" => "device-header-logo", "href" =>  "#/"}
      %img{src: "/images/rotary-logo.png"}
    %h2
      {{ "NEWS.news" | translate }}
      
%section.popup
  .resource-container.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        {{ "NEWS.news" | translate }}
    .spinner-container{"ng-show" => "loading"}
      %img{src: "/images/spinner.gif"}
    
    .sorter.pull-right
      %p
        {{ "NEWS.sort_by" | translate }}:
      .sort-item{"ng-repeat" => "cat in categories.categories"}
        %a.category{"ng-href" => "#/news/{{ cat.title }}"}
          {{cat.title}}
    .clear
          
    .news-item-container{"ng-repeat" => "newsItem in news.news | filter: {language: lang}"}
      .news-item
        %span.date
          %span.month
            {{ newsItem.publish_date | date: "MMM" }}
          %br/
          %span.day
            {{ newsItem.publish_date | date: "d" }}
        .image
          %img(src="{{newsItem.image}}")
        %a.text-container{"ng-href" => "#/news_items/{{ newsItem.id }}"}
          %h1
            {{ newsItem.title | limitTo: 38 }}
          .utilities
            %span.category{"ng-show" => "newsItem.category","ng-href" => "#/news_items/{{ newsItem.category.title }}"}
              {{ newsItem.category.title }}
          %p
            {{ newsItem.intro }}
    .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn