%section.popup
  .resource-container.col-xs-10.col-xs-offset-1
    .news-item-page
      .image
        %img(src="{{print.image}}")
        %h3
          {{print.title}}

      .text-container{"id" => "bind-html-with-trust"}
        %p.date
          {{ print.publish_date | date: fullDate }}
        %br
        %p.intro-text
          {{ print.intro }}
        %hr
        / %p.intro-text
        / {{ print.category }}
        / %hr
        %p{"ng-bind-html" => "print.body"}
          / {{print.body}}
        %hr{"ng-hide" => "print.gallery"} 
          %br/
          
      .gallery{"ng-show" => "print.gallery"}
        %h2
          Gallery 
        %hr 
        .gallery-item{"ng-repeat" => "img in print.gallery"}
          %img{:src => "{{img.image}}", :alt => ""}/
          %p
            {{img.description}}
        .clear
        %hr 
        %br/

%a.fadeout{"ng-href" => "#/news_items"}
  .close-btn