.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "PROJECTS.title" | translate }}
%section.popup
  .resource-container.col-xs-10.col-xs-offset-1
    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %img{src: "/images/rotary-logo.png"}
      %h1.tagline
        {{ "PROJECTS.title" | translate }}
    
    .col-md-4.col-xs-12.project-container
      %h3
        {{ "PROJECTS.new" | translate }}
        %span.projects-icon 
      .project-item{"ng-repeat" => "projects in projects.new_projects"} 
        %a.text-container{"ng-href" => "#/projects/{{ projects.id }}"}
          %p
            {{ projects.title}}
    
    .col-md-4.col-xs-12.project-container
      %h3
        {{ "PROJECTS.running" | translate }}
        %span.projects-icon
      .project-item{"ng-repeat" => "projects in projects.running_projects"}
        %a.text-container{"ng-href" => "#/projects/{{ projects.id }}"}
          %p
            {{ projects.title}}
    
    .col-md-4.col-xs-12.project-container
      %h3
        {{ "PROJECTS.ended" | translate }}
        %span.projects-icon
      .project-item{"ng-repeat" => "projects in projects.completed_projects"}
        %a.text-container{"ng-href" => "#/projects/{{ projects.id }}"}
          %p
            {{ projects.title}}
    .clear

  %br/
  %br/
  .col-xs-10.col-xs-offset-1.cooperation
    %h1
      {{ "PROJECTS.cooperation" | translate }}
    .text-container
      %p
        Marfa selvage yr, post-ironic ennui stumptown fashion axe meggings seitan chia four loko tousled synth. Street art leggings Shoreditch farm-to-table chillwave, meggings freegan roof party fingerstache Pitchfork. Tattooed Williamsburg art party lumbersexual readymade, meh irony taxidermy blog PBR&B roof party street art <b>Odd Future cliche</b>. Sartorial beard authentic small batch, cold-pressed mustache irony 8-bit cornhole deep v Intelligentsia brunch next level kale chips. Locavore salvia you probably haven't heard of them, direct trade mixtape sriracha dreamcatcher try-hard. IPhone twee Marfa try-hard, tilde brunch keytar cronut. Drinking vinegar tote bag kale chips, XOXO Intelligentsia trust fund DIY 3 wolf moon umami single-origin coffee you probably haven't heard of them crucifix artisan.



%a.fadeout{"ng-href" => "#/"}
  .close-btn