%section.popup
  .resource-container.col-xs-8.col-xs-offset-2
    .news-item-page
      .text-container{"id" => "bind-html-with-trust"}
        %h3.project-title
          {{print.title}}
        %p.intro-text
          project status:
          %i
            {{ print.status }}
        %hr
        %p{"ng-bind-html" => "print.description"}
        .clear
        %hr
        %br/
%a.fadeout{"ng-href" => "#/projects"}
  .close-btn