.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/projects"}
    / %img{src: "/images/close-btn.png"}
  .title-container
    %a{"class" => "device-header-logo", "href" =>  "#/"}
      %img{src: "/images/rotary-logo.png"}
    %h2
      Rotary Projects
%section.popup.container
  .resource-container.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    .project-item-page
      .text-container{"id" => "bind-html-with-trust"}
        .header.white-bg
          %a{"class" => "page-logo hidden", "href" =>  "#/projects"}
            %h1.tagline
              {{ "ROTARY.rotary" | translate }}
              %img{src: "/images/rotary-logo.png"}
              {{ "PROJECTS.title_one" | translate }}
          .project-header
            .project-title-image
              %img(src="{{print.image}}")
            / %hr/
            / %br/
            .row
              %h2.project-title.col-sm-12.col-sm-offset-0.col-xs-10.col-xs-offset-1
                {{print.title}}
            %hr/
            %h4.pull-left
              status:
              %strong.orange
                {{print.status}}
            %h4.pull-right
              rotary ID:
              %strong.orange
                {{print.custom_id}}
            .clear

        .white-bg
          .project-text-section
            .purpose{"ng-show" => "print.purpose"}
              %h3
                Project Purpose and Impact
              %p{"ng-bind-html" => "print.purpose"}
                {{print.purpose}}
            .description{"ng-show" => "print.description"}
              %h3
                Description
              %p{"ng-bind-html" => "print.description"}
                {{print.description}}
            / %div{"ng-photoswipe" => "print.pictures", "slides" => "print.pictures", "slide-selector" => ".pictures > li > img", "open" => "isOpen", "on-close" => "onGalleryClose()"}
            .image-gallery{"ng-if" => "print.pictures.length > 0"}
              %h2
                Photo gallery
              %hr/
              .pictures{"ng-repeat" => "picture in print.pictures"}
                %img{"ng-src" => "{{picture.src}}"}

     
     
     

%a.fadeout{"ng-href" => "#/projects"}
  .close-btn
