.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/users"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "MEMBERS.title" | translate }}

%section.popup.container
  .resource-container.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    .user-page
      .user-page-header
        .user-image-container
          %img(src="{{print.image}}")
        .user-text-container
          .user-page-logo
            %img{src: "/images/rotary-logo.png"}  
          %h2.name
            {{print.name}}
            .flag-container
              %div{"class" => "flag {{print.nationality}}"} 
          %h4
            {{print.role}}
          %h4
            {{print.email}}
          %h4
            {{print.phone}}
      .clear
      .user-page-body
        %table
          %tr
            %td.table-label
              member address:
            %td
              {{print.address}}
          %tr
            %td.table-label
              date of birth:
            %td
              {{print.date_of_birth}}
          %tr
            %td.table-label
              member nationality:
            %td
              {{print.nationality}}
          %tr
            %td.table-label
              language spoken:
            %td
              {{print.languages}}
          %tr
            %td.table-label
              work:
            %td.row-border{"ng-bind-html" => "print.work"}
          %tr
            %td.table-label
              education:
            %td.row-border{"ng-bind-html" => "print.education"}
          %tr
            %td.table-label
              interests:
            %td.row-border{"ng-bind-html" => "print.interests"}
          %tr
            %td.table-label
              other information:
            %td.row-border{"ng-bind-html" => "print.full_data"}

%a.fadeout{"ng-href" => "#/users"}
  .close-btn
