.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  %a{"class" => "device-header-logo", "href" =>  "#/"}
    %img{src: "/images/rotary-logo.png"}
  .title-container
    %h2
      {{ "MEMBERS.title" | translate }}

%section.popup
  .resource-container.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          {{ "ROTARY.rotary" | translate }}
          %img{src: "/images/rotary-logo.png"}
          {{ "MEMBERS.title" | translate }}

    .users-container{"ng-hide" => "{{ loaded }}"}
      %h3
        {{ "MEMBERS.president" | translate }}
      .user-item.col-lg-6.col-lg-offset-3{"ng-repeat" => "user in users.users | filter: {role: 'president'} "}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}

        .clear
      .clear
    .users-container
      %h3
        {{ "MEMBERS.Ñommitties" | translate }}
      .user-item.col-lg-6.col-lg-offset-3{"ng-repeat" => "user in users.users | filter: {role: 'committies'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"} 
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}
        .clear
      .clear
    .users-container
      %h3
        {{ "MEMBERS.regular" | translate }}
      .user-item.col-lg-6.col-lg-offset-3{"ng-repeat" => "user in users.users | filter: {role: 'regular'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        %p.name
          {{user.name}}
        %div{"class" => "flag {{ user.nationality}}"}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p
                  {{user.phone}}
                %p
                  {{user.email}}
                %p
                  {{user.address}}
        .clear
      .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn