.device-header
  %a{"class" => "device-header-backbtn", "href" =>  "#/"}
    / %img{src: "/images/close-btn.png"}
  .title-container
    %a{"class" => "device-header-logo", "href" =>  "#/"}
      %img{src: "/images/rotary-logo.png"}
    %h2
      {{ "MEMBERS.title" | translate }}

%section.popup.container
  .resource-container.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2

    .header
      %a{"class" => "page-logo", "href" =>  "#/"}
        %h1.tagline
          Rotary
          %img{src: "/images/rotary-logo.png"}
          Members

    .loading-overlay{"ng-if" => "loadingData"}
      .users-container
        %h3
          Loading Rotary Members..
    .users-container{"ng-if" => "dataLoaded"}
      %h3
        President
      %p{"ng-show" => "errorMessage"}
      .user-item.col-md-10.col-md-offset-1.col-xs-12{"ng-repeat" => "user in userList.users | filter: {role: 'president'} "}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        .top-mgmt
          %p.name
            {{user.name}}
          %p.position
            {{user.position}}
          %p.email
            {{ user.bizMail }}
        %div{"class" => "flag {{ user.nationality}}"}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p.phone-no
                  {{user.phone}}
                %a.user-mail{"href" => "mailto:{{user.email}}"}
                  {{user.email}}
                %p.user-address
                  {{user.address}}

        .clear
      .clear
    .users-container{"ng-if" => "dataLoaded"}
      %h3
        Board and Committees
      .user-item.col-md-10.col-md-offset-1.col-xs-12{"ng-repeat" => "user in userList.users | filter: {role: 'committies'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        .top-mgmt
          %p.name
            {{user.name}}
          %p.position
            {{user.position}}
          %p.email
            {{ user.bizMail }}
        %div{"class" => "flag {{ user.nationality}}"} 
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p.phone-no
                  {{user.phone}}
                %a.user-mail{"href" => "mailto:{{user.email}}"}
                  {{user.email}}
                %p.user-address
                  {{user.address}}
        .clear
      .clear
    .users-container{"ng-if" => "dataLoaded"}
      %h3
        Members
      .user-item.col-md-10.col-md-offset-1.col-xs-12{"ng-repeat" => "user in userList.users | filter: {role: 'regular'} ", "ng-click" => "showDetails = ! showDetails"}
        .image{"ng-href" => "#/users/{{ user.id }}"}
          %img(src="{{user.image}}")
        .top-mgmt
          %p.name
            {{user.name}}
          %p.position
            {{user.position}}
          %p.email
            {{ user.bizMail }}
        %div{"class" => "flag {{ user.nationality}}"}
        %div{ "ng-if" => "user_logged_in"}
          .btn-container
            %a.to-page{"ng-href" => "#/users/{{ user.id }}"}
            .to-popup{"ng-click" => "showDetails = ! showDetails"}
              .hide-container{"ng-show" => "showDetails"}
                %img{:src => "/images/icons/triangle_hover.png"}
                %p.phone-no
                  {{user.phone}}
                %a.user-mail{"href" => "mailto:{{user.email}}"}
                  {{user.email}}
                %p.user-address
                  {{user.address}}
        .clear
      .clear

%a.fadeout{"ng-href" => "#/"}
  .close-btn
