@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "news-items-list";
@import "news-page";
@import "projects";
@import "users";
@import "animate";

$dakr-puple: #5D2D6E;

body {
  font-size: 16px;
  background-color: $dakr-puple;
  background: url(/images/people.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}