hr{
  border-color: #bdc3c7;
}
.contactContr{
  .resource-container{
    .contact-container{
      margin: 10px 0;
      padding: 10px 15px;
      background-color: rgba(255,255,255,0.95);
      .contact-item{
        border-bottom: 1px dashed rgba(153, 153, 153, 1);
        margin: 15px 0;
        padding: 0 0 15px;
        img{
          width: 60px;
          height: 60px;
          display: inline-block;
        }
        .contact-text{
          float: right;
        }
        p{
          margin: 4px 5px 0px 15px;
          color: rgba(103, 103, 103, 1);
        }
        p.languages{
          text-align: right;
        }
        p.name{
          color: rgba(60, 60, 60, 1);
          font-weight: 600;
          font-size: 1.4em;
          margin-top: 0;
        }
        p.email{
          font-size: 1.2em;
          margin-top: 2px;
        }
        p.position{
          font-size: 1.2em;
          margin-top: 2px;
          color: grey;
        }
      }
      .contact-item:last-child{
        border-bottom:none;
        padding-bottom: 0;
      }
    }
  }
}

.square{
  background-color: rgba(250,250,250,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}
@media (max-width: 1289px) {
  .resource-container{
    .contact-container{
      .contact-item{
        .contact-text{
          p.name{
            font-size: 1.3em;
          }
        }
        p.position{
          font-size: 1em;
        }
      }
    }
  }
}