.events-container{
  h3{
    text-align: center;
    color: #FFF;
    font-weight: 300;
    border-bottom: 1px solid #FFF;
    padding: 9px;
    font-size: 1.7em;
    background-color: orange;
    margin-bottom: 5px;
  }
  .event-container{
    h2{
      text-align: center;
      margin: 2px 0 7px;
      letter-spacing: 1px;
      font-weight: 400;
      // background-color: #425f9b;
      background-color: orange;
      color: #FFF;
      padding: 8px 0;
      font-size: 1.6em;
    }
    .table-preview{
      width: 70%;
      margin-left: 15%;
      .table-label{
        width: 280px;
      }
    }
  }
  .event-item{
    background-color: #FFF;
    padding: 8px;
    margin-top: 6px;
    position: relative;
    border-bottom: 2px solid #FFF;
    -webkit-transition: 0.15s;
    -ms-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    a{
      // color: #545454;
      width: 100%;
      p{
        color: #959595;
        font-size: 1.1em;
      }
      p.event-title-text{margin: 0;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .divider{
          display: block;
          border-bottom: 1px solid orange;
          width: 50px;
          margin: 4px 0 2px 0px;
        }
      }
    }
    .date{
      margin-top: 2px;
      span{
        text-align: center;
        display: block;
      }
      .day{
        color: orange;
        font-size: 2em;
        line-height: 1em;
        font-weight: 400;
        border-bottom: 1px solid #C5C5C5;
      }
      .month{
        font-size: 1em;
        color: #959595;
      }
    }
    .event-popup{
      // position: absolute;
      // bottom:  0px;
      // left: 0;
      // margin-top: 50px;
      background-color: orange;
    }
  }
  .event-item:hover{
    border-bottom: 2px solid orange;
    -ms-transform: translate(0, -2px); /* IE 9 */
    -webkit-transform: translate(0, -2px); /* Safari */
    -moz-transform: translate(0, -2px); /* Mozilla */
    -o-transform: translate(0, -2px); /* Opera */
    transform: translate(0, -2px);
    box-shadow: 2px 2px 10px rgba(30,30,30,1);

  }
  .passed-event{
    opacity: 0.8;
  }
  .passed-event:hover{
    opacity: 1;
  }
}

.event-page{
  padding: 0;
  background-color: #FFF;
  .map{
    position: relative;
    // border-bottom: 3px solid orange;
    h3{
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 30px;
      background-color: purple;
      padding: 5px 11px;
      max-width: 80%;
      color: #E6E6E6;
      font-size: 1.4em;
    }

  }
  .text-container{
    padding: 0 20px 0 12px;
    p.widget-time, p.widget-place{
      font-size: 1.2em;
      padding: 13px 0 0px;
    }
    table{
      td{
        padding-bottom: 12px;
        font-size: 1.2em;
      }
      td.table-label{
        width: 350px;
        vertical-align: top;
        color: #939393;
      }
      td.date{
        font-weight: bold;
      }
    }
  }
}
.events-container .event-item a{
  display: block;
}
.angular-google-map-container{
  height: 400px;
}
.eventPage{
  .event-page{
    box-shadow: 2px 2px 10px rgba(30,30,30,1);
    .map{
      border-bottom: 3px solid orange;
    }
  }
}
.text-container:hover .event-icon:after{
  color: orange;
}
.event-icon{
  position:relative;
  display: inline-block;
  margin: 3px 14px 0 8px !important;
  border-right: 1px solid #bdc3c7;
  padding-right: 16px;
}
.event-icon:after{
    font-family: FontAwesome;
    font-size: 2.2em;
    color: #bdc3c7;
 }
.social:after {
    content:  "\f0c0";}
.field:after {
    content:  "\f0f7";
    padding: 0 6px 0 6px;
 }
.trip:after {
    content:  "\f072";
    padding: 0 6px 0 6px;
 }
.regular:after {
    content:  "\f015";
    padding: 0 3px 0 3px;
 }
