@media (max-width: 1366px) {
  .events-container{
    .event-item{
      a{
        p.event-title-text{
          font-size: 1em;
          width: 260px;
          width: 64%;
        }
      }
    }
    .event-icon{
      margin: 3px 7px 0 0px !important;
      border-right: 1px solid #bdc3c7;
      padding-right: 5px;
    }
    .text-container{
      p.widget-time, p.widget-place{
        float: none !important;
        margin: 5px 0;
        padding: 0;
      }
    }
  }
}
@media (max-width: 900px) {
  .events-container{
    .event-container{
      .map{
        h3{
          font-size: 1.2em;
          right: 0;
          bottom: 0;
          position: relative;
          max-width: 100%;
          margin: 0;
        }
      }
    }
    .event-item{
      a{
        p.event-title-text{
          font-size: 1em;
          width: 260px;
          width: 64%;
        }
        .event-icon{
          display: none;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .events-container{
    h3{
      font-size: 1.5em;
    }
    .event-icon{
      margin: 3px 7px 0 0px !important;
      border-right: 1px solid #bdc3c7;
      padding-right: 5px;
    }
    .event-item{
      margin-top: 2rem;    
      .event-container{
        .event-page{
          .map{
            h3{
            }
          }
          .text-container{
            .table-preview{
              width: 90%;
              margin-left: 5%;
              .table-label{
                width: 130px !important;
              }
            }
          }
        }
      }
    }
  }
}
.event-page{
  // margin-top: 2rem;
  .map{
    h3{
      font-size: 1.4em;
      text-align: right;
      right: 4.5rem;
      max-width: 85%;
      font-size: 1.4em;
      line-height: 1.4em;
      padding: 9px;
      letter-spacing: 0.4px;
      font-weight: 400;
      span{
        font-size: 0.8em;
        font-weight: 300;
      }
    }
  }
  .text-container{
    table{
      width: 100% !important;
      margin: 0 !important;
      padding: 0.5rem;
      .table-label{
        width: 160px !important;
        text-align: left;
      }
      td{
        text-align: right;
      }
    }
  }
}
