.events-container{
  h3{
    text-align: right;
    color: #FFF;
    font-weight: 300;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
    font-size: 2.2em;
  }

  .event-container{
    h2{
      text-align: center;
      margin: 2px 0 7px;
      letter-spacing: 1px;
      font-weight: 400;
      background-color: darkorange;
      color: #FFF;
      padding: 8px 0;
      font-size: 1.6em;
    }
    .table-preview{
      width: 70%;
      margin-left: 15%;
      .table-label{
        width: 280px;
      }
    }
  }
  .event-item{
    background-color: #FFF;
    padding: 8px;
    margin-top: 6px;
    position: relative;
    border-bottom: 2px solid #FFF;
    -webkit-transition: 0.15s;
    -ms-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    a{
      color: #545454;
      width: 100%;
    }
    .date{
      .day{
        color: orange;
        font-size: 1.2em;
      }
      .month{
        color: #959595;
      }
    }
    .event-popup{
      // position: absolute;
      // bottom:  0px;
      // left: 0;
      // margin-top: 50px;
      background-color: orange;
    }
  }
  .event-item:hover{
    border-bottom: 2px solid orange;
  }
  .passed-event{
    opacity: 0.8;
  }
  .passed-event:hover{
    opacity: 1;
  }
}

.event-page{
  padding: 0;
  background-color: #FFF; 
  .map{
    position: relative;
    border-bottom: 3px solid orange;
    h3{
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 30px;
      background-color: purple;
      padding: 5px 11px;
      max-width: 80%;
      color: #E6E6E6;
      font-size: 1.4em;
    }

  }
  .text-container{
    padding: 20px;
    table{
      td{
        padding-bottom: 12px;
      }
      td.table-label{
        width: 350px;
        vertical-align: top;
        color: #939393;
      }
      td.date{
        font-weight: bold;
      }
    }
  }
}
.angular-google-map-container{
  height: 400px;
}
