.members-container{
  h3{
    color: #FFF;
    text-align: center;
  }
  .member-items{
    width: 78%;
  }
  .member-item{
    background-color: #d4d4d4; 
    width: 280px;
    height: 80px;
    float: left;
    margin: 10px 4px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    .image{
      float: left;
      margin-right: 10px;
      img{
        height: 80px; 
        width: auto;
      } 
    }
    p.name{
      color: #545454;
      padding: 10px 0 0 15px;
      float: left;
    }
    .btn-container{
      // position: absolute;
      // right: 0;
      float: right;
      .to-page{
        height: 40px;
        width: 40px;
        background-color: orange;
      }
      .to-popup{
        height: 40px;
        width: 40px;
        background-color: #FFF;
        .hide-container{  
          position: absolute;
          height: 150px;
          width: 280px;
          background-color: #d4d4d4;
          top: 95px;
          z-index: 999;
          padding: 10px;
          left: 0;
        }
      }
    }
  }
  .member-item:hover{
    // border-right: 15px solid darkorange;
  }
}