@media screen and (max-width: 1366px){
  .resource-container{
    .news-item-container{
      .news-item{
        .text-container{
          h1{
            text-overflow: ellipsis;
            width: 41rem !important;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      } 
    }
  }
}
@media (max-width: 769px) {
  
  
}
@media (max-width: 667px) {
  .resource-container{
    margin-top: 4rem;
    .news-item-container{
      .news-item{
        margin: 10px 0;
        .image{
          display: none;
          img{
          }
        }
        .date{
          width: 6rem;
        }
        .text-container{
          h1{
            text-overflow: ellipsis;
            width: 25rem !important;
            white-space: nowrap;
            overflow: hidden;
            font-size: 1em;
          }
          p{
            padding: 5px;
            width: 85%;
          }
        }
      } 
    }
  }
}
