@media screen and (max-width: 1366px){
  .resource-container{
    .news-item-container{
      .news-item{
        .text-container{
          h1{
            // text-overflow: ellipsis;
            // width: 23rem;
            // white-space: nowrap;
            // overflow: hidden;
          }
        }
      } 
    }
    .news-item-page{
      .image{
        h3{
          font-size: 1.3em;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  
  
}
@media (max-width: 667px) {
  .resource-container{
    // margin-top: 4rem;
    .news-item-container{
      .news-item{
        margin: 10px 0;
        .image{
          display: none;
          img{
          }
        }
        .date{
          width: 6rem;
          height: 6rem;
          padding-top: 0;
        }
        .text-container{
          h1{
            // text-overflow: ellipsis;
            width: 80%;
            // white-space: nowrap;
            // overflow: hidden;
            font-size: 1em;
          }
          p{
            padding: 5px;
          }
        }
      } 
    }
    .news-item-page{
      margin-top: 1rem;
      .image{
        img{
          margin-top: 0;
        }
        h3{
        position: relative; 
        right: 0; 
        margin-top: 0; 
        background-color: purple;
        padding: 5px 11px;
        max-width: 100%;
        text-align: right;
        color: #E6E6E6;
        font-size: 1.5em;
        }
      }
      .text-container{
        margin: 0.8rem;
        .intro-text{
          font-size: 1.1em;
          line-height: 1.4em;
          padding-left: 0;
        }
        p.date{
          top: 3.3rem;
        }
      }
    }
  }
}
