.popup{
  position: absolute;
  // background-color: rgba(40, 40, 40, 0.01);
  z-index: 999;
  width: 60%;
  height: 95vh;
  overflow-y: scroll;
  margin: 20px auto;
  left: 20%;

  .header{
    width: 60%;
    margin: 0 auto 15px;
    .page-logo img{
      width: 56px;
      height: auto;
      margin-left: 190px;
    }
    h1{
      text-align: center;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      margin: 13px 0 7px;
      padding: 12px 0;
      font-weight: 200;
      font-size: 30px;
      color: #FFF;
    }
  }
  .spinner-container{
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 200px;
    img{
      margin-left: 42%;
      width: 80px;
      height: auto;
    }
  }
}
.resource-container{
  padding: 15px 15px;
  .news-item-container{
    margin: 0 auto;

    .news-item{
      position: relative;
      // margin: 10px auto;
      width: 670px;
      // padding: 5px;
      background-color: rgba(225, 225, 225, 0.43);
      color: #FFF;
      min-height: 160px;
      -webkit-transition: 0.1s ease;
      -moz-transition: 0.1s ease;
      -o-transition: 0.1s ease;
      -ms-transition: 0.1s ease;
      transition: 0.1s ease;
      .image{
        height: 160px;
        width: 160px;
        opacity: 0.85;
        overflow: hidden;
        background-color: white;
        // border: 2px solid #E6E6E6;
        margin-right: 0.5em;
        float: left;
        // margin-top: 4px;
        // margin-left: 4px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .date{  
        position: absolute;
        right: -70px;
        width: 70px;
        text-align: center;
        min-height: 160px;
        background-color: rgba(225, 225, 225, 0.43);
        border-left: 4px solid orange;
        padding-top: 50px;
        .month{
          margin-top: 40%;
          padding: 3px 0;
          font-size: 1.4em;
          border-bottom: 2px solid #FFF;
        }
        .day{
          font-size: 1.3em;
          padding: 3px 0;
        }
      }
      .text-container{
        position: relative;
        h1{
          line-height: 1.2em;
          margin: 4px 0 4px 0;
          font-size: 1.4em;
          font-weight: 600;
          letter-spacing: 1px;
          color: #F4F4F4;
          padding: 10px 0 0px;
        }
        .utilities{
          margin: 0.1em 0 0.3em;
          padding: 0 0 0 5px;
          display: inline-block;
          border-left: 4px solid darkorange;
  //        border-top: 1px solid darkorange;
  //        border-bottom: 1px solid darkorange;
          span{
            font-size: 1em;
            color: #e8e8e8;
            letter-spacing: 1px;
            font-weight: 200;
            margin: 0px;
          }
          .category{
            background-color: darkorange;
            color: #FFF;
            padding: 1px 5px 2px;
          }
        }
        p{
          font-size: 1em;
          width: 97%;
          font-weight: 200;
          letter-spacing: 1px;
          color: #FFF;
          line-height: 1.3em;
          /*text-overflow: ellipsis;*/
          /*white-space: nowrap;*/
          /*overflow: hidden;*/
        }
      }
    }
    .news-item:hover{
      background-color: rgba(150,150,150,0.6);
      opacity: 1;
      // -ms-transform: translate(0, -2px);
      // -webkit-transform: translate(0, -2px); 
      // -moz-transform: translate(0, -2px); 
      // -o-transform: translate(0, -2px); 
      // transform: translate(0, -2px);
      // box-shadow: 2px 2px 20px rgba(30,30,30,1);
      .date{
        background-color: orange;
        .month{
          border-bottom: 2px solid #fff;
          color: #fff;
        }
        .day{
          color: #fff;
        }
      }
      .image{
        opacity: 1;
      }
    }
  }
}



.fadeout{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,14,27,0.3);
  z-index: -1;
  .close-btn{
    position: absolute;
    opacity: 0.5;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-image: url(/images/close-btn.png);
    -webkit-transition: 0.1s;
    -ms-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}
.fadeout:hover .close-btn{
    opacity: 1;
  -ms-transform: translate(0, -5px); /* IE 9 */
  -webkit-transform: translate(0, -5px); /* Safari */
  -moz-transform: translate(0, -5px); /* Mozilla */
  -o-transform: translate(0, -5px); /* Opera */
  transform: translate(0, -5px);
}


