.projectsList{
  background: url("/images/projects-1.jpg");
  height: 100vh;
  .popup{
    .header{
      h1{
        border-bottom: none;
      }
    }
  }
  a.fadeout{
    .close-btn{
      background-image: url(/images/close-btn-orange.png);
    }
  }
}
.resource-container{
  .header{
    h1{

    }
  }
  .project-container{
    // border-right: 1px solid #95a5a6;
    margin-top: 20px;
    h3{
      color: #FFF;
      padding: 5px;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      font-weight: 300;
      span{
        // background: url(/images/icons/project.png);
        height: 26px;
        width: 34px;
        background-size: 40px;
        float: right;
      }
      span:before{
        font-family: FontAwesome;
        font-size: 1em;
        color: #FFF;
      }
      span.new-project:before{
        content: "\f005";
      }
      span.running-project:before{
        content: "\f1a8";
      }
      span.finished-project:before{
        content: "\f11e";
      }
    }
    .project-item{
      // padding: 5px;
      p{
        color: #FFF;
        border-bottom: 2px solid #bdc3c7;
        // padding-right: 4px;
        // padding-left: 4px;
        // margin-left: 2px;
        background-color: rgba(255,255,255,0.8);
        color: #34495e;
        padding: 15px;
        -webkit-transition: 0.1s ease;
        -moz-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        -ms-transition: 0.1s ease;
        transition: 0.2s ease;
        cursor: pointer;
        font-weight: 500;
      }
    }
    .project-item:hover p{
      border-bottom: 2px solid orange;
      -ms-transform: translate(0, -2px); /* IE 9 */
      -webkit-transform: translate(0, -2px); /* Safari */
      -moz-transform: translate(0, -2px); /* Mozilla */
      -o-transform: translate(0, -2px); /* Opera */
      transform: translate(0, -2px);
      box-shadow: 1px 2px 10px rgba(30,30,30,0.7);
      background-color: #FFF;
    }
  }
  .project-container:hover{
    h3{
      border-bottom-color: orange;
    }
    span:before{
      color: orange;
    }
  }
}
.cooperation{
    // background-color: rgba(255,255,255,1);
    padding: 10px 30px;
    h1{
      color: #FFF;
      border-bottom: 1px solid #B2B2B2;
      text-align: right;
      // color: #2c3e50;
    }
    .text-container{
      color: #FFF;
      .cooperation-step{
        opacity: 0.8;
      }
      .cooperation-step:hover{
        opacity: 1;
        h2{
          color: orange;
          border-bottom: 1px solid #FFF;
        }
        p{
          // border-bottom: 1px solid #FFF;
        }
      }
      h3.intro{
        // font-size: 1.3em;
        text-align: center;
        margin-top: 15vh;
        line-height: 1.2em;
        letter-spacing: 0.5px;
        font-size: 1.6em;
      }
      h2{
        font-family: "Droid";
        text-align: center;
        margin-top: 2vh;
        border-bottom: 1px solid rgba(255,255,255,0);
      }
      p{
        // letter-spacing: 1px;
        // font-size: 1.1em;
        // text-indent: 2em;
        margin: 1vh 0 4vh;
        border-right: 1px solid rgba(255,255,255,0.4);
        padding-right: 13px;
      }
      p.last{
        border-right: 0px solid #FFF;
      }
      h4.ending{
        text-align: center;
        letter-spacing: 0.5px;
        line-height: 1.4em;
        font-weight: 400;
      }
      strong{
        color: orange;
      }
    }
  }

  .projectPage{
    background: url("/images/projects-1.jpg");
    height: 100vh;
    .project-item-page{
      padding: 20px 30px;
      .tagline{
        border-bottom: 0px solid;
      }
      .header:hover .tagline{
        border-bottom: 0px solid;
      }
      .white-bg{
        width: 100%;
        background-color: rgba(255,255,255,0.95);
        box-shadow: 1px 2px 10px rgba(30,30,30,0.7);
        padding: 15px;
        margin: 20px 0;
      }
      .project-header{
        .project-title{
          margin-top: 0;
          color: #34495e;
          text-align: center;
        }
      }
      .project-text-section{
        ul{
          list-style-type: none;
        }
        blockquote{
          border-left-color: orange;
        }
        div{
          margin: 30px 0px;
        }
        h3{
          color: #34495e;
          padding-bottom: 10px;
        }
        p{
          color: #7f8c8d;
          padding: 4px 10px;
          text-indent: 1.5em;
        }
        .purpose{
          text-align: right;
        }
        .description{
          padding-bottom: 9px;
          text-align: left;
          h3{
            font-size: 2em;
            margin-bottom: 20px;
            border-bottom: 1px solid #bdc3c7;
          }
        }
      }
    }
  }
.projects-container{
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}
.project-container:hover{
  // background-color: rgba(255,255,255,0.3);
}
.cooperation-steps-container{
  margin-top: 5vh;
}
.cooperation-ending{
  margin-top: 5vh;
}
.fadeout{
  z-index: 999;
}