.resource-container{
  .header{
    h1{

    }
  }
  .project-container{
    // border-right: 1px solid #95a5a6;
    margin-top: 20px;
     h3{
      color: #FFF;
      border-bottom: 1px solid #b2b2b2;
      font-weight: 300;
      span{
        background: url(/images/icons/project.png);
        height: 26px;
        width: 34px;
        background-size: 40px;
        float: right;
      }
    }
    .project-item{
      padding: 5px;
      p{
        color: #FFF;
        border-right: 2px solid #bdc3c7;
        padding: 2px;
        padding-right: 4px;
        padding-left: 4px;
        margin-left: 2px;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        transition: 0.2s ease;
      }
    }
    .project-item:hover p{
      border-right: 10px solid #e67e22;
      background-color: rgba(150,150,150,0.6);
    } 
  }
}
.cooperation{
    background-color: rgba(255,255,255,1);
    padding: 10px 30px;
    h1{
      color: #FFF;
      border-bottom: 1px solid #B2B2B2;
      text-align: right;
      color: #2c3e50;
    }
    .text-container{
      p{
        color: #2c3e50;
      }
    }
  }

  .projectPage{
    .project-title{
    color: orange;
    padding: 51px 0 0 0;
    }
  }