@media (max-width: 1366px){
  .hide-sm {
    display: initial;
  }
  .show-sm {
    display: none;
  }
  .logo{
    margin: 20px auto 10px;
    img{
      width: 50px;
      height: auto;
      margin-left: 145px;
    }
  }
  .tagline {
    font-size: 1.9em;
  }
  #news{
    // width: 190px;
    height: 155px;
    background-size: 250px;
    p{
      font-size: 3.5em;
    }
  }
  #scene{
    overflow-y: auto;
    height: 90vh;
  }
  #projects{
    // width: 260px;
    height: 170px;
    background-size: 350px;
  }
  #photos{
    width: 160px;
    height: 160px;
    background-size: 160px;
  }
  #photos:hover {
    background-size: 160px;
  }
  #about{
    // width: 175px;
    height: 145px;
  }
  #members{
    width: 118px;
    height: 118px;
    margin-top: 4px;
  }
  #events{
    // width: 250px;
  }
}    
  .popup{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .device-header{
    display: none;
  }
@media (max-width: 1024px) {
  #news {
    p {
      line-height: 1;
    }
  }
}



@media (max-width: 820px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: initial;
  }
  body{
    // font-size: 14px !important;
    // background-image: none;
    background-color: #5D2D6E;
    height: 100%;
    .device-header .title-container {
      h2 {
        font-size: 22px;
        margin-top: 15px;
      }
    }

    .utility-fields {
      .login-field .login-container .login-form {
      }
    }
    .logo-sm {
      display: block;
      img {
        width: 50px;
        margin: 0 auto;
        display: block;
      }
      .tagline {
        margin-top: 10px;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 5px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        font-weight: 500;
      }
    }
    .homePage{
      // height: 100vh;
      .logo{
        // display: none;
      }
      .container{
        padding: 0;
      }
    }
    #scene{
      margin-top: 10px;
      height: 100vh;
    }
    .left{
      margin: 0;
    }
    .left .item{
      margin: 5px 0;
      // float: none;
      text-align: right;
    }
    .right{
      display: block;
      width: 100%;
      margin: 0 0 40px;
      // float: none;
    }
      padding: 0;
      .content{
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        .left{
          margin-left: 0;
          width: 47vw;
          margin: 0.5rem 0;
          float: none;
        }
      }
        
    #news {
      height: 90px;
      padding-right: 100px;
      padding-top: 10px;
      background-color: white;
      p {
        line-height: 0.7;
      }
      span {
        // float: left;
        font-size: 2.3em;
      }
    }
    .item{
      height: 130px !important;
      height: initial;
      width: 100% !important;
      margin: 0.5rem 0;
      margin: 5px 0 !important;
    }
    #projects {
      height: 90px;
      background-size: cover;
      background-position: 0% 36%;
      padding-right: 100px;
      p {
        margin-top: 22px;
        text-align: right;
      }
      span {
        font-size: 2em;
        padding-right: 0;
      }
    }
    #photos{
      background-size: 220px;
      background-position: center;
      background-color: white;
    }
    #photos:hover {
      background-image: url(/images/people-normal.png);
    }
    #about {
      background-color: #93251B;
      color: white;
      p {
        top: 34px;
        right: 1px;
        line-height: 64px;
        font-size: 48px;
        text-align: center;
      }
    }
    #members{
      width: 100%;
      margin-top: 0;
      background-color: white;
      // height: 145px;
    }
    #events{
      opacity: 1;
      .events {
        p {
          font-size: 26px;
          margin: 0;
        }
        .event-body {
          p {
            font-size: 26px;
            margin-top: 10px;
          }
          p.title {
            font-weight: 600;
            letter-spacing: 1.2px;
            margin-top: 0px;
          }
        }
      }
    }
    .aboutOurRotary {
      .popup {
        h1 {
          font-size: 26px;
        }
        .lviv-intro {
          height: 50vh;
        }
        .tagline {
          letter-spacing: 0px;
          font-size: 18px;
          img {
            width: 30px;
          }
        }
        .resource-container {
          margin-top: 0px;
        }
        .our-rotary-container {
          h2 {
            margin: initial;
            font-size: 20px;
          }
          p {
            margin: 20px 0;
            font-size: 16px;
          }
          quotes {
            .text {
              width: 100%;
              h3 {
                font-size: 20px;
              }
              h3::before {
                left: -70px;
                top: 30px;
                color: black;
              }
            }
          }
          a.user-button {
            margin: 10px auto 30px;
          }
        }
      }
    }    
  }


  .device-header{
    display: block;
    position: fixed;
    z-index: 9999;
    height: 80px;
    width: 100%;
    left: 0;
    background-color: #5D2D6E;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    .device-header-backbtn{
      position: absolute;
      width: 44px;
      height: 44px;
      top: 20px;
      left: 20px;
      display: inline-block;
      background-color: orange;
      border-radius: 50%;
      background-image: url(/images/back.png);
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 11px 10px;
      transition: 0.5s;
      img{
        margin: 5px 0 0 5px;
        width: 40px;
        opacity: 0.8;
      }
    }
    .device-header-backbtn:hover{
      box-shadow: 1px 1px 15px rgba(40,40,40,0.6);
      transform: translateX(-4px);
    }
    .device-header-logo:hover img{
      opacity: 1;
    }
    .title-container {
      position: relative;
      margin-top: 47px;
      .device-header-logo{
        position: absolute;
        // width: 50px;
        // height: 50px;
        top: -31px;
        right: 50%;
        display: inline-block;
        margin-right: -14px;
        img{
          // margin: 5px 0 0 5px;
          width: 28px;
        }
      }
      h2 {
        text-align: center;
        margin: 9px 0;
        color: #FEBD11;
        font-weight: 400;
      }
    }
  }
  .popup{
    // width: 94%;
    // left: 3%;
    // margin-top: 40px
  }
  .page-logo, .fadeout, .header{
    display: none;
  }
  .cooperation {
    padding: 10px 0px;
  }
}

@media (max-width: 460px) {
  body {
    #news,
    #projects {
      padding-right: 20px
    }
    #photos {
      background-size: 160px;
    }
    #about p {
      top: 40px;
      right: -3px;
      line-height: 44px;
      font-size: 34px;
    }
    #events {
      .events {
        p {
          font-size: 17px;
          margin-top: 10px;
        }
        .event-body {
          p {
            font-size: 18px;
          }
          p.title {
            font-weight: 500;
            letter-spacing: 0.2px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
