@media screen and (max-width: 1330px), screen and (max-height: 650px) {
  .logo{
    margin: 20px auto 10px;
    img{
      width: 50px;
      height: auto;
      margin-left: 145px;
    }
  }
  .content{
    width: 70%;
    #news{
      width: 190px;
      height: 155px;
      p{
        font-size: 3.5em;
      }
    }
    #projects{
      width: 260px;
      height: 170px;
      background-size: 260px 170px;
    }
    #photos{
      width: 160px;
      height: 160px;
      background-size: 160px;
    }
    #about{
      width: 175px;
      height: 145px;
    }
    #members{
      width: 118px;
      height: 118px;
      margin-top: 32px;
    }
    #events{
      width: 250px;
    }
  }
  .popup{
    width: 80%;
    left: 10%;
  }
  .device-header{
    display: none;
  }
}
@media (max-width: 769px) {
  .body{
    font-size: 14px;
  }
  .device-header{
    display: block;
    position: fixed;
    z-index: 9999;
    height: 50px;
    width: 100%;
    left: 0;
    background-color: #5D2D6E;
    .device-header-backbtn{
      position: absolute;
      width: 4.2rem;
      height: 4.2rem;
      top: 2.2rem;
      left: 2.2rem;
      display: inline-block;
      background-color: red;
      border-radius: 50%;
      img{
        margin: 5px 0 0 5px;
        width: 40px;
        opacity: 0.8;
      }
    }
    .device-header-logo:hover img{
      opacity: 1;
    }
    .device-header-logo{
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      display: inline-block;
      img{
        margin: 5px 0 0 5px;
        width: 40px;
      }
    }
    .title-container{
  
      h2{
        text-align: center;
        margin: 9px 0;
        color: #FEBD11;
      }
    }
  }
  .popup{
    width: 94%;
    left: 3%;
    margin-top: 40px
  }
  .page-logo, .fadeout, .header{
    display: none;
  }
}
