.users-container{
  h3{
    color: #FFF;
    text-align: center;
  }
  .user-items{
    width: 78%;
  }
  .user-item{
    background-color: #d4d4d4; 
    width: 280px;
    height: 80px;
    float: left;
    margin: 10px 4px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    .image{
      float: left;
      margin-right: 10px;
      img{
        height: 80px; 
        width: auto;
      } 
    }
    p.name{
      color: #545454;
      letter-spacing: 1px;
      font-size: 1.1em;
      padding: 25px 0 0 0px;
      float: left;
    }
    .btn-container{
      // position: absolute;
      // right: 0;
      float: right;
      .to-page{
        height: 40px;
        width: 40px;
        background-color: orange;
        display: block;
        background: url("/images/icons/user_profile.png"), orange;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .to-popup{
        height: 40px;
        width: 40px;
        // background-color: ;
        background: url("/images/icons/triangle_normal.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
        .hide-container{  
          position: absolute;
          height: 150px;
          width: 280px;
          background-color: #d4d4d4;
          top: 95px;
          z-index: 999;
          padding: 10px;
          left: 0;
        }
      }
      .to-popup:hover{
        background: url("/images/icons/triangle_hover.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .user-item:hover{
    // border-right: 15px solid darkorange;
  }
}

.user-page{
  // padding: 20px;
  background-color: #ecf0f1;
  .user-page-header{
    .user-image-container{
      float: left;
      margin: 0 10px 10px 0;
    }
    .user-text-container{
      .user-page-logo{
        
        img{
          width: 80px;
          height: auto;
        }
      }
    }
  }
  .user-page-body{
    padding: 20px;
    table{
      td.table-label{
        width: 210px;
        padding-bottom: 10px;
        vertical-align: top;
        color: #939393;
      }
    }
    .user-data-field{
      border-bottom: 1px solid #b2b2b2;
      span{
        float: left;
      }
      p{
        float: right;
      }
    }
  }
}
.user-item .flag {
  position: absolute;
  margin-left: -40px;
  transform: rotate(-90deg);
  left: -5px;
  top: 15px;
}
.flag{
  width: 60px;
  height: 30px;
  background-size: 900px !important;
}
.Danish{background: url(/images/icons/flags.png) -120px -870px;
}
.Ukrainian{
  background: url(/images/icons/flags.png) -120px 30px;
}
.German{
  background: url(/images/icons/flags.png) -300px -120px;
}