.device-header{
  display: none;
}
.users-container{
  h3{
    color: #FFF;
    text-align: center;
  }
  .user-items{
    // width: 78%;
  }
  .user-item{
    background-color: #d4d4d4; 
    // width: 100%;
    height: 80px;
    float: left;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    .image{
      float: left;
      margin-right: 10px;
      img{
        height: 80px; 
        width: auto;
      } 
    }
    p.name{
      color: #545454;
      letter-spacing: 1px;
      font-size: 1.1em;
      padding: 20px 0 0 0px;
      // float: left;
      // width: 12rem;
    }
    .btn-container{
      float: right;
      top: 0;
      position: absolute;
      right: -40px;
      .to-page{
        height: 40px;
        width: 40px;
        background-color: orange;
        display: block;
        background: url("/images/icons/user_profile.png"), orange;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .to-popup{
        height: 40px;
        width: 40px;
        // background-color: ;
        background: url("/images/icons/triangle_normal.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
        .hide-container{  
          position: absolute;
          height: 150px;
          width: 280px;
          background-color: rgba(240,240,240,0.9);
          top: 100px;
          z-index: 999;
          padding: 10px;
          right: 0;
          border: 1px solid orange;
          img{
            transform: rotate(180deg);
            position: absolute;
            top: 0;
            right: 4px;
            width: 29px;
            margin-top: -12px;
          }
        }
      }
      .to-popup:hover{
        background: url("/images/icons/triangle_hover.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .user-item:hover{
    .flag{
    }
  }
  .user-item .flag {
    position: absolute;
    margin-left: -40px;
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    left: -5px;
    top: 15px;
  }
  .flag{
    width: 60px;
    height: 30px;
    background-size: 900px !important;
  }
}

.user-page{
  // padding: 20px;
  background-color: #ecf0f1;
  .user-page-header{
    .user-image-container{
      float: left;
      margin: 0 10px 10px 0;
    }
    .user-text-container{
      .user-page-logo{
        display: inline-block;
        // width: 400px;
        img{
          width: 80px;
          height: auto;
          margin-left: 37%;
          margin-top: 20px;
        }
      }
      .name{
        font-size: 2.4em;
      }
      .flag-container{
        display: inline-block;
      }
    }
  }
  .user-page-body{
    padding: 20px 40px;
    table{
      .label-device{
        display: none;
      }
      .row-border{
        border-top: 1px solid orange;
        padding: 10px 50px 10px 10px;
      }
      td{
        padding-bottom: 12px;
      }
      td.table-label{
        width: 210px;
        vertical-align: top;
        color: #939393;
      }
    }
    .user-data-field{
      border-bottom: 1px solid #b2b2b2;
      span{
        float: left;
      }
      p{
        float: right;
      }
    }
  }
}
.Danish{
  background: url(/images/icons/flags.png) -120px -870px;
}
.Ukrainian{
  background: url(/images/icons/flags.png) -120px 30px;
}
.German{
  background: url(/images/icons/flags.png) -300px -120px;
}
.French{
  background: url(/images/icons/flags.png) -60px -120px;
}
.Polish{
  background: url(/images/icons/flags.png) -240px -270px;
}
.Netherlander{
  background: url(/images/icons/flags.png) 120px -180px;
}
.Austrian{
  background: url(/images/icons/flags.png) 360px 0px;
}
.English{
  background: url(/images/icons/flags.png) -240px 30px;
}
.Usa{
  background: url(/images/icons/flags.png) -300px 30px;
}
.China{
  background: url(/images/icons/flags.png) -360px -60px;
}
.Czech{
  background: url(/images/icons/flags.png) -60px -60px;
}
.Slovakia{
  background: url(/images/icons/flags.png) -420px -300px;
}
.Sweden{
  background: url(/images/icons/flags.png) -120px 30px;
}
.Belgian{
  background: url(/images/icons/flags.png) -60px -30px;
}
.Hungarian{
  background: url(/images/icons/flags.png) 0px -150px;
}
.Belarusian{
  background: url(/images/icons/flags.png) 0px -30px;
}
.Bulgarian{
  background: url(/images/icons/flags.png) -600px -30px;
}

.Croat{
  background: url(/images/icons/flags.png) -780px -60px;
}

.Cyprian{
  background: url(/images/icons/flags.png) 0px -90px;
}
.China{
  background: url(/images/icons/flags.png) -360px -60px;
}
.Estonian{
  background: url(/images/icons/flags.png) 180px -90px;
}
.Finn{
  background: url(/images/icons/flags.png) 0px -120px;
}
.Greek{
  background: url(/images/icons/flags.png) -420px -120px;
}
.Irish{
  background: url(/images/icons/flags.png) -360px -150px;
}
.Italian{
  background: url(/images/icons/flags.png) -480px -150px;
}
.Latvian{
  background: url(/images/icons/flags.png) -360px -180px;
}
.Lithuanian{
  background: url(/images/icons/flags.png) 180px -180px;
}
.Luxembourger{
  background: url(/images/icons/flags.png) 120px -180px;
}
.Moldavian{
  background: url(/images/icons/flags.png) -180px 0px;
}
.Norwegian{
  background: url(/images/icons/flags.png) 300px -240px;
}

.Portuguese{
  background: url(/images/icons/flags.png) -300px -270px;
}
.Romanian{
  background: url(/images/icons/flags.png) -420px -270px;
}
.Russian{
  background: url(/images/icons/flags.png) -480px -270px;
}
.Swiss{
  background: url(/images/icons/flags.png) -180px -330px;
}
.Swede{
  background: url(/images/icons/flags.png) -120px -330px;
}
.Spaniard{
  background: url(/images/icons/flags.png) 180px -300px;
}
.Slovenian{
  background: url(/images/icons/flags.png) 420px -300px;
}
.Slovak{
  background: url(/images/icons/flags.png) 480px -300px;
}
.Serb{
  background: url(/images/icons/flags.png) -120px 30px;
}
.Slovac{
  background: url(/images/icons/flags.png) 480px -300px;
}
.Canada{
  background: url(/images/icons/flags.png) -60px -60px;
}
.Brazil{
  background: url(/images/icons/flags.png) -480px -30px;
}

