.device-header{
  display: none;
}
.users-container{
  h3{
    color: #FFF;
    text-align: center;
  }
  .user-items{
    width: 78%;
  }
  .user-item{
    background-color: #d4d4d4; 
    // width: 280px;
    height: 80px;
    float: left;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    .image{
      float: left;
      margin-right: 10px;
      img{
        height: 80px; 
        width: auto;
      } 
    }
    p.name{
      color: #545454;
      letter-spacing: 1px;
      font-size: 1.1em;
      padding: 20px 0 0 0px;
      // float: left;
      // width: 12rem;
    }
    .btn-container{
      float: right;
      top: 0;
      position: absolute;
      right: -40px;
      .to-page{
        height: 40px;
        width: 40px;
        background-color: orange;
        display: block;
        background: url("/images/icons/user_profile.png"), orange;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .to-popup{
        height: 40px;
        width: 40px;
        // background-color: ;
        background: url("/images/icons/triangle_normal.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
        .hide-container{  
          position: absolute;
          height: 150px;
          width: 280px;
          background-color: rgba(240,240,240,0.9);
          top: 100px;
          z-index: 999;
          padding: 10px;
          right: 0;
          border: 1px solid orange;
          img{
            transform: rotate(180deg);
            position: absolute;
            top: 0;
            right: 4px;
            width: 29px;
            margin-top: -12px;
          }
        }
      }
      .to-popup:hover{
        background: url("/images/icons/triangle_hover.png"), #FFF;
        background-size: 30px 14px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .user-item:hover{
    .flag{
    }
  }
  .user-item .flag {
    position: absolute;
    margin-left: -40px;
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    left: -5px;
    top: 15px;
  }
  .flag{
    width: 60px;
    height: 30px;
    background-size: 900px !important;
  }
}

.user-page{
  // padding: 20px;
  background-color: #ecf0f1;
  .user-page-header{
    .user-image-container{
      float: left;
      margin: 0 10px 10px 0;
    }
    .user-text-container{
      .user-page-logo{
        display: inline-block;
        // width: 400px;
        img{
          width: 80px;
          height: auto;
          margin-left: 37%;
          margin-top: 20px;
        }
      }
      .name{
        font-size: 2.4em;
      }
      .flag-container{
        display: inline-block;
      }
    }
  }
  .user-page-body{
    padding: 20px;
    table{
      .label-device{
        display: none;
      }
      td{
        padding-bottom: 12px;
      }
      td.table-label{
        width: 210px;
        vertical-align: top;
        color: #939393;
      }
    }
    .user-data-field{
      border-bottom: 1px solid #b2b2b2;
      span{
        float: left;
      }
      p{
        float: right;
      }
    }
  }
}
.Danish{background: url(/images/icons/flags.png) -120px -870px;
}
.Ukrainian{
  background: url(/images/icons/flags.png) -120px 30px;
}
.German{
  background: url(/images/icons/flags.png) -300px -120px;
}
.French{
  background: url(/images/icons/flags.png) -60px -120px;
}
